<div class="container">
    {{!-- <div class="text-center">
        <h6 class="card-title mb-3">Usuarios Registrados</h6>
    </div> --}}
    <div class="row d-flex justify-content-start align-items-center">
        <!-- Aquí insertamos la tabla -->
        <div class="table-responsive">
    <table style="font-size:12px;" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th> 
                <th>Apellido</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Última Conexión</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
                <tr>
                    <td>{{_id}}</td>
                    <td>{{firstName}}</td>
                    <td>{{lastname}}</td>
                    <td>{{email}}</td>
                    <td>{{role}}</td>
                    <td>{{lastConnection}}</td>
                    <td>
                        <button style="width: 60px; font-size:10px;margin:2px" class="btn btn-danger delete-button" onclick="deleteUser('{{_id}}')">Borrar</button>
                        <button style="width: 60px; font-size:10px;margin:2px" class="btn btn-secondary edit-button" onclick="changeRoleUser('{{_id}}')">Cambiar Role</button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

    </div>
    
    <div class="d-flex justify-content-center mt-4 mb-4">
        <button class="btn btn-secondary " onclick="deleteUsersWithoutActivity()">Eliminar Usuarios con Inactividad</button>
    </div>
</div>
